@media (max-width: 1260px) {
	.wrapper {
		background-size: 100% auto ;		
	}
	
	.container {
		padding-left:100px;
		box-sizing: border-box;
		margin-bottom:50px;
		width:1260px;
	}
	
	
}

@media (max-width: 767px) {
	
	body {
		background-image: none;

	}
	
	.hidden-xs {
		display: none
	}
	
	.wrapper {
		height:auto;
		background: #AAAAAA url(../images/back.jpg) center -50px no-repeat;
		background-size: 460px !important;		
	}
	.container {
		width:320px;
		min-height:400px;
		padding-top:0;
		padding-left:0px;
		margin-bottom:0;		
	}
	
	.player {
		max-width:90%;
		margin-left:5%;
	}
	
	
	.logo {
		font-size: 36px;
		margin-left: 15px;
		margin-top: 54px;
		height: 175px;
		text-align: left;

	}	
		
	.old {
		right: 20px;
		top: auto;
		bottom: 20px;

	}	
	
	.song-name {
		font-size: 13px;
	}
	
	.title {
		font-size: 24px;
		margin-bottom: 0px;
		color: #fff;
		text-align: center;
		margin-top: 20px;		
				
	}
	.text {
		position: static;
		margin:30px 0;
		font-size:26px;	
		text-align: center;		
	}
	.films{
		position: static;
		margin:30px 0;
		font-size:26px;	
		text-align: center;		
	}	
	
	.foto{
		position: static;
		margin:30px 0;
		font-size:26px;	
		text-align: center;		
	}	
		
	
	.clips iframe {
		width: 100%;
		height:auto;
		min-height:240px
	}
	
	.wrapper {
		overflow: hidden
	}
	.quote {
		position: static;
		margin:30px 0;	
		font-size:26px;		
		text-align: center;			
	}	
	
	.contact {
		position: static;
		margin:30px 0;		
		font-size:26px;	
		text-align: center;			
	}
	.donate {
		position: static;
		margin:30px 0;		
		font-size:26px;	
		text-align: center;			
	}	
	.song audio {

		float: left;
		width: 100%;
		height: 30px;

	}	
	
	.song-name {
		font-size: 18px;
		margin-top: 10px;
		width:100%;
	}
	
	.quotebook {
		width:90%;
		margin-left:5%;
	}	
	
	.links {
		width:90%;
		margin-left:5%;
	}
	
	#alx_feed_back_FID1 {
		margin-bottom:100px;
	}
	

	.stream {
		width:47%;
		height:40px !important;
		margin-top: 20px;
	}
}