@charset "utf-8";
/* CSS Document */

body {
	font-family: 'meanna', Arial;
	margin:0px; 
	padding:0px;
 	background:#AAAAAA url(../images/back.jpg) center center no-repeat; 
	background-size:cover;	
    background-attachment: fixed; /* Фиксируем фон веб-страницы */
	
} 


@font-face {
   	font-family: 'meanna';
   	src: url('fonts/meanna.eot');
  	src: url('fonts/meanna.eot?#iefix') format('embedded-opentype'),
   	url('fonts/meanna.woff') format('woff'),      
   	url('fonts/meanna.ttf') format('truetype'),   
   	url('fonts/meanna.svg#webfontUwNjhodI') format('svg'); 
}

.wrapper {
	position:absolute;
	width:100%;
	height:100%;

}

.container  {
	width: 1270px;
	min-height:800px;
    padding-top: 75px;
	margin:50px auto 0;
	position:relative;
}

.clearfix {
	clear:both;
	height:0;
}

a {
	color:#fff !important;
	text-decoration: none !important;
}

.logo   { 
	font-family: meanna, Arial;
  	color: #000;
  	font-size: 64px;
  	margin-left: 50px;
  	margin-top:20px;
 	height:100px;     
 }
 
 
.logo a {
	color:#000 !important;
 }

.text
{ 
	font-family: meanna, Arial;
	color: #000;
    font-size: 35px;
    position: absolute;
    top:765px;
    right:330px;
	 
}

.films
{ 
	font-family: meanna, Arial;
	color: #000;
    font-size: 35px;
    position: absolute;
	top: 664px;
	right: 386px;
	 
}
.foto
{ 
	font-family: meanna, Arial;
	color: #000;
    font-size: 35px;
    position: absolute;
	top: 864px;
	right: 386px;
	 
}



.quote
{
	font-family: meanna, Arial;
	color: #231c1b;
	font-size: 30px;
	position: absolute;
	top:700px;
	right:200px;
}

.contact 
{
	font-family: meanna, Arial;
	color: #50403e;
	font-size: 26px;
	position: absolute;
	top:805px;
	right:150px;

}
.donate 
{
	font-family: meanna, Arial;
	color: #50403e;
	font-size: 26px;
	position: absolute;
	top:835px;
	right:200px;

}


.old {
	position:absolute;
	right:50px;
	top:50px;
	font-size:16px;
}



.player {
	max-width:43%;
}


.song-name {
	width:45%;
	float:left;
	font-size:17px;
	padding-top:5px;
	cursor:pointer;
	position:relative;
}


.song-name small {
	position:absolute;
	right:10px;
	top:5px;
}

.song-name small img {
	height:20px;
}
.song-name:hover {
	color:#666;

}

.song audio {
	float:left;
	width:50%;
	height:30px;
}

.song:after {
	content:' ';
	clear:both;
	display: block;
}

.title {
	font-size:24px;
	margin-bottom:20px;
	color:#fff;
}

.hidden {
	font-family: 'Tahoma';
	opacity:0;
	height:0;
	overflow:hidden;
	transition: all 0.3s;
}

.song.active .hidden {
	opacity:1;
	margin: 20px 0;	 	
	height:auto;
	overflow: visible;
	transition: all 0.3s;
}



.links {
	width:40%;
	font-size:18px;
}

.clips {
	width:40%;
	font-size:20px;
}
.quotebook {
	width:40%;
	margin-bottom:100px;
	font-family: 'Tahoma';
}

.copyright {
	text-align: right;
	margin: 0 20px 20px 0;
	position:fixed;
	right:0;
	bottom:0;
}

@media (max-width: 767px) {
	
	.copyright {
		margin-bottom:50px;
		font-size:13px;
		position:static
	}
}